<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="4" android:versionName="binary-burst" package="org.openhds.mobile">

    <uses-sdk android:minSdkVersion="11"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application android:label="@string/app_name" android:theme="@android:style/Theme.Holo.Light">
        <provider android:authorities="org.openhds.Application" android:exported="false" android:name="org.openhds.mobile.provider.OpenHDSProvider">
        </provider>

        <uses-library android:name="com.google.android.maps"/>

        <activity android:label="@string/app_name" android:name="org.openhds.mobile.activity.OpeningActivity" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:label="@string/app_name" android:name="org.openhds.mobile.activity.NavigateActivity"/>
        <activity android:label="@string/app_name" android:name="org.openhds.mobile.activity.SupervisorMainActivity"/>
        <activity android:label="@string/app_name" android:name="org.openhds.mobile.activity.PortalActivity"/>
        <activity android:label="@string/app_name" android:name="org.openhds.mobile.activity.FormSearchActivity"/>

    </application>

</manifest>